<h2>Hello <%= @user.first_name %>,</h2>

<p>Upon further review and consideration, your account has been re-activated.</p>

<p>Please read the terms and agreement to avoid further inconvenience.</p>

<p>Thanks,<br>Broker Joke Team</p>