<h2>Hello <%= @user.first_name %>,</h2>

<p>We regret to inform you that your application has been rejected after review.</p>

<p>If you believe this was a mistake, please contact support.</p>

<p>Thanks,<br>Broker Joke Team</p>
