<h1>Admin::Dashboard#index</h1>
<h2>Welcome Admin, <%= current_user.first_name %>!</h2>
<%= link_to "Sign out", destroy_user_session_path,
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to leave?" }%>

<p>Here are the User List for your attention:</p>
