<h1>Welcome to Broker Joke Trading Platform</h1>

<p>If you are an admin:</p>
<%= link_to 'Admin Sign In', new_user_session_path %>

<p>If you are a trader:</p>
<%= link_to 'Trader Sign In', new_user_session_path %>

<p>Or apply to become a trader:</p>
<%= link_to 'Sign Up', new_user_registration_path %>
