<h1>My Portfolio</h1>

<table class="table">
  <thead>
    <tr>
      <th>Stock Symbol</th>
      <th>Quantity Owned</th>
    </tr>
  </thead>
  <tbody>
    <% @holdings.each do |symbol, quantity| %>
      <tr>
        <td><%= symbol %></td>
        <td><%= quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Dashboard", trader_dashboard_path %>
